.container {
  width: 800px;
  margin: 5% auto;
}

.tes {
  background-color: #ffeded;
  border-radius: 20px;
  border: 1px solid #ffb1b1;
  padding: 30px;
}

.tes h1 {
  margin-bottom: 20px;
  text-align: center;
}

.tes p {
  font-weight: 500;
  font-size: 16px;
}

.tes img {
  width: 200px;
  margin: auto;
}

.tes .btn {
  margin: 20px 15px;
  background-color: #921a40;
  color: white;
  font-weight: 500;
}

.tes .btn:hover {
  background-color: #ffb1b1;
  color: rgb(22, 20, 20);
}

.tes ol li {
  background-color: #ffeded;
}

.tes .question {
  margin: 20px auto;
}

@media only screen and (max-width: 580px) {
  .container {
    width: 90%;
    margin: auto;
  }
}