body {
  background-color: #fcfcfb;
}

div small {
  background-color: #f2fde3;
  border: 1px solid #8ab255;
}

/*** Navbar Start ***/
.nav-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.nav-bar h1 {
  color: #8ab255;
}

.navbar .navbar-nav .nav-link {
  padding: 10px 12px;
  font-weight: 600;
  font-size: 17px;
  transition: 0.5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: #8ab255;
}

.btn {
  background-color: #8ab255;
  border: none;
}
/*** Navbar End ***/

/*** Hero start ***/
.hero {
  min-height: 600px;
  padding: 60px 10px;
}

/* story start */
.story {
  margin-bottom: 100px;
}

@media (max-width: 990px) {
  .story {
    flex-direction: column-reverse;
  }
}
