@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    box-sizing: border-box;
}

:root{
    /* Warna tema */
    --main-color: #FFB1B1;
    /* 121481 */
    --secondary-color: #921A40; 

    /* Tipografi */
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Playfair Display", serif;
    --font-body1: 'Poppins', sans-serif;
    --font-body2: "Source Sans 3", sans-serif;
    --font-accent: "Raleway", sans-serif;
}

/* SIDEBAR */
li{
    list-style: none;
}
body, html {
    font-family: var(--font-body1);
    background-color: #EBF4F6;
    line-height: 1.6;
    text-decoration: none;
}
.wrapper{
    display: flex;
}
#sidebar{
    position: fixed;
    min-width: 90px;
    width: 5vw;
    height: 100vh;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    z-index: 1000;
}
#sidebar a{
    text-decoration: none;
}
#sidebar.expand{
    width: 220px;
}
#sidelogo-btn{
    background-color: transparent;
    border: none;
    padding: 1rem;
}
#sidelogo-btn img {
    width: 60px;
    height: auto; 
}
#sidelogo-btn:hover img {
    transform: scale(1.09); 
    transition: all 0.3s ease; 
}
.sidelogo-txt{
    margin: auto 0;
}
.sidelogo-txt a{
    color: var(--secondary-color);
    font-family: var(--font-accent);
    font-size: 1.7rem;
    font-weight: 600;
}
#sidebar:not(.expand) .sidelogo-txt,
#sidebar:not(.expand) a.side-link span{
    display: none;
}
/* sidebar Menu */
.side-navbar{
    padding: 1rem 0;
    flex: 1;
}
a.side-link {
    font-family: var(--font-body2);
    padding: 1rem 0 1rem 1.9rem;
    color: var(--secondary-color);
    display: block;
    font-size: 1.5rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}
.side-link i{
    font-size: 1.3rem;
}
.side-link span{
    padding-left: 30px;
}
a.side-link:hover{
    background-color: rgba(225, 225, 225, .075);
    border-left: 3px solid var(--secondary-color);
}
.side-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* HEADER */
.main {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid #07195231;
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}
.main .text-start{
    padding-left: 6rem;
}
.main .text-end i {
    font-size: 2rem;
    font-weight: 500;
}
.main .text-end span {
    padding: 0 2rem 0 0 ;
    font-family: var(--font-accent);
    font-size: 1.5rem;
    font-weight: 500;
}

/* MAIN */
main {
    margin-left: 5vw;
    padding: 2rem;
    flex-grow: 1;
}
main h1 {
    font-family: var(--font-secondary);
    font-size: 2.5vw;
    margin-bottom: 1rem;
}
main p {
    font-family: var(--font-body2);
    font-size: 1.25vw;
    line-height: 1.8;
    margin-bottom: 3rem;
}

/* Styling untuk section takeTest */
.takeTest {
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.takeTest .card {
    width: 100%;
    max-width: 50vw; 
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
    background-color: #ffffff;
    overflow: hidden; 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.takeTest .card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.52); 
    transform: translateY(-5px); 
}
.takeTest .card-header {
    background-color: var(--main-color);
    color: #ffffff;
    padding: 1rem;
    font-size: 1.25rem;
}
.takeTest .card-body {
    padding: 2rem;
    text-align: center;
}
.takeTest .card-body p{
    font-family: var(--font-body1);
    line-height: 1.2;
    font-size: 1.2rem;
}
.takeTest .card-body img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.takeTest .card-body .btn-primary {
    background-color: var(--main-color);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.takeTest .card-body .btn-primary:hover {
    background-color: var(--secondary-color); 
    color: #040e2e;
}

/* MEDIA QUERY RESPONSIFNESS */
@media (max-width: 1200px) {
    /* Header */
    .main .text-end i {
        font-size: 1.75rem;
    }
    .main .text-end span {
        font-size: 1.25rem;
    }

    /* Main Content */
    main {
        margin-left: 8vw;
    }

    /* Styling untuk section takeTest */
    .takeTest .card-body p {
        font-size: 1.125rem;
    }
}
@media (max-width: 768px) {
    /* Sidebar */
    #sidebar {
        min-width: 80px; 
        height: 100%; 
    }
    #sidelogo-btn img {
        width: 50px;
    }
    .sidelogo-txt a{
        font-size: 1.4rem;
    }
    a.side-link {
        padding: 1rem;
        font-size: 1.2rem;
    }
    li.side-item:nth-child(1) a.side-link {
        padding-left: 1.8rem; 
    }
    li.side-item:nth-child(2) a.side-link {
        padding-left: 2rem; 
    }
    li.side-item:nth-child(3) a.side-link {
        padding-left: 1.4rem; 
    }
    .side-link i{
        font-size: 1.2rem;
    }
    li.side-item:nth-child(3) .side-link span{
        padding-left: 22px;
    }
    /* Header */
    .main {
        height: 60px;
    }
    .main .text-end i {
        font-size: 2.8vw;
    }
    .main .text-end span {
        font-size: 2.5vw;
    }
    /* MAIN */
    main {
        margin-left: 10vw;
    }
    main h1 {
        padding-top: 1rem;
        font-size: 1.5rem;
    }
    main p {
        font-size: 1.5vw;
        line-height: 1.5;
    }

    /* Styling untuk section takeTest */
    .takeTest .card {
        max-width: 60vw; 
    }
    .takeTest .card-header h5{
        font-size: 1rem;
    }
    .takeTest .card-body p{
        font-size: 1.5vw;
    }
    .takeTest .card-body .btn-primary {
        font-size: 2vw;
    }
}
@media (max-width: 576px) {
    /* Sidebar */
    #sidebar {
        min-width: 70px;
    }
    #sidelogo-btn img {
        width: 40px;
    }
    .sidelogo-txt a {
        font-size: 1.2rem; 
    }
    a.side-link {
        padding: 0.75rem; 
        font-size: 1rem;
    }
    li.side-item:nth-child(1) a.side-link {
        padding-left: 1.4rem; 
    }
    li.side-item:nth-child(2) a.side-link {
        padding-left: 1.5rem; 
    }
    li.side-item:nth-child(3) a.side-link {
        padding-left: 1rem; 
    }
    .side-link i {
        font-size: 1.2rem;
    }
    li.side-item:nth-child(3) .side-link span {
        padding-left: 20px;
    }
    
    /* Header */
    .main {
        height: 50px; 
    }
    
    /* MAIN */
    main {
        margin-left: 60px; 
    }
    main h1 {
        padding-top: 0.5rem;
        font-size: 1.5rem;
    }
    main p {
        font-size: 1rem; 
        line-height: 1.4;
    }

    /* Styling untuk section takeTest */
    .takeTest .card {
        max-width: 90vw; 
    }
    .takeTest .card-header h5 {
        font-size: 0.875rem;
    }
    .takeTest .card-body p {
        font-size: 1rem;
    }
    .takeTest .card-body .btn-primary {
        font-size: 1rem; 
    }
}
@media (max-width: 425px) {
    /* Sidebar */
    #sidelogo-btn img {
        width: 35px;
    }
    .sidelogo-txt a {
        font-size: 3.2vw; 
    }
    a.side-link {
        font-size: 3.2vw;
    }
    li.side-item:nth-child(1) a.side-link {
        padding-left: 4.4vw; 
    }
    li.side-item:nth-child(2) a.side-link {
        padding-left: 5vw; 
    }
    li.side-item:nth-child(3) a.side-link {
        padding-left: 3vw; 
    }
    .side-link i {
        font-size: 3.2vw;
    }
    
    /* Header */
    .main {
        height: 50px;
        margin-left: 1vw;
    }
    .main .text-end i {
        font-size: 4vw;
    }
    .main .text-end span {
        font-size: 3.5vw;
    }
    
    /* MAIN */
    main h1 {
        font-size: 5.5vw;
    }
    main p {
        font-size: 3.5vw; 
        margin-bottom: 0;
    }

    /* Styling untuk section takeTest */
    .takeTest {
        padding: 10px;
    }
    .takeTest .card-header h5 {
        font-size: 2.875vw;
    }
    .takeTest .card-body p {
        font-size: 3vw;
        margin-bottom: 2rem;
    }
    .takeTest .card-body .btn-primary {
        font-size: 3vw; 
    }
}