@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    /* Color */
    --main-color: #FFB1B1;
    --secondary-color: #921A40; 

    /* Typografy */
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Playfair Display", serif;
    --font-body1: 'Poppins', sans-serif;
    --font-body2: "Source Sans 3", sans-serif;
    --font-accent: "Raleway", sans-serif;
}

/* SIDEBAR */
li {
    list-style: none;
}
body, html {
    background-color: #EBF4F6;
    line-height: 1.6;
    text-decoration: none;
}
.wrapper {
    display: flex;
}
#sidebar {
    position: fixed;
    min-width: 50px;
    width: 4vw;
    height: 100vh;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    border-radius: 0 25px 25px 0;
    z-index: 1000;
    box-shadow: inset 0 1px 20px rgba(0, 0, 0, 0.5), 2px 2px 4px #555;
}
#sidebar a {
    text-decoration: none;
}
#sidebar.expand {
    width: 180px;
}
.d-flex{
   padding-top: 1rem;
   margin-bottom: 2rem; 
}
#sidelogo-btn {
    background-color: transparent;
    border: none; 
}
#sidelogo-btn img {
    width: 50px;
    height: auto; 
}
#sidelogo-btn:hover img {
    transform: scale(1.09); 
    transition: all 0.3s ease; 
}
.sidelogo-txt {
    margin: auto 0;
}
.sidelogo-txt a {
    color: var(--secondary-color);
    font-family: var(--font-accent);
    font-size: 1.6rem;
    font-weight: 600;
}
#sidebar:not(.expand) .sidelogo-txt,
#sidebar:not(.expand) a.side-link span {
    display: none;
}

/* sidebar Menu */
.side-navbar {
    padding: 1rem 0;
    flex: 1;
}
a.side-link {
    font-family: var(--font-body2);
    padding: 1rem 0 1rem 1.1rem;
    color: var(--secondary-color);
    display: block;
    font-size: 1rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}
.side-link i {
    font-size: 1.1rem;
}
.side-link span {
    padding-left: 30px;
    font-weight: 500;
}
.side-navbar li:nth-child(2) .side-link span {
    padding-left: 33px;
}
a.side-link:hover {
    background-color: rgba(225, 225, 225, .1);
    border-left: 3px solid var(--secondary-color);
    font-style: italic;
}
.side-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* HEADER */
.top {
    position: relative;
    width: calc(100% - 5vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    margin-left: 2rem;
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}
.top::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 9vw; 
    width: calc(100% - 8.5vw); 
    height: 1px; 
    background-color: #07195231;
}
.top .text-start {
    padding-left: 10rem;
}
.top .text-end i {
    font-size: 2rem;
    font-weight: 500;
}
.top .text-end span {
    padding: 0 2rem 0 0 ;
    font-family: var(--font-accent);
    font-size: 1.5rem;
    font-weight: 500;
}

/* MAIN */
main {
    margin: 0 5vw 0 10vw;
    padding: 2rem;
    flex-grow: 1;
    transition: transform 0.3s ease;
}
main h1 {
    font-family: var(--font-secondary);
    font-size: 2.5vw;
    margin-bottom: 1rem;
}
main p {
    font-family: var(--font-body2);
    font-size: 1.5vw;
    line-height: 1.3;
    margin-bottom: 3rem;
}

/* Styling untuk section takeTest */
.takeTest {
    padding: 10px;
    margin: 10px 0 10rem 0;
    display: flex;
    justify-content: center;
}
.takeTest .card {
    width: 100%;
    max-width: 50vw; 
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
    background-color: #ffffff;
    overflow: hidden; 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.takeTest .card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.52); 
    transform: translateY(-5px); 
}
.takeTest .card-header {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 1.2rem 0 0 0;
}
.takeTest .card-header .card-title{
    font-size: 1.5rem;
}
.takeTest .card-body {
    padding: 2rem;
    text-align: center;
    align-items: center;
}
.takeTest .card-body p {
    font-family: var(--font-body1);
    line-height: 1.2;
    font-size: 1.4rem;
}
.takeTest .card-body img {
    max-width: 80%;
    height: auto;
    margin-bottom: 1rem;
}
.takeTest .card-body .btn-primary {
    background-color: var(--secondary-color);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.takeTest .card-body .btn-primary:hover {
    background-color: var(--main-color); 
    color: #2b2a2a; 
}

/* Pelatihan Container */
.pelatihan-container {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--secondary-color);
}
.row{
    padding: 2rem;
}
.col {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%; /* Ensures cards are the same height */
    flex-direction: column;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.card-img-top {
    height: 200px;
    object-fit: fill;
}
.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    justify-content: space-between; 
    padding: 1.25rem;
}
.card-title {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 1rem;
}
.card-text {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 1rem;
} 
.buttonPelatihan {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background-color: var(--main-color);
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.buttonPelatihan:hover {
    background-color: var(--secondary-color);
}

/* MEDIA QUERY RESPONSIFNESS */
@media (max-width: 1200px) {
    /* SIDE bar */
    #sidebar {
        width: 5vw;
    }
    #sidelogo-btn img {
        width: 40px; 
    }
    a.side-link {
        padding: 1rem 0 1rem 0.9rem;
    }
    .side-link span {
        padding-left: 20px;
    }
    .side-navbar li:nth-child(2) .side-link span {
        padding-left: 23px;
    }
    /* Header */
    .top {
        padding: 2rem 0;
    }
    .top .text-end i {
        font-size: 1.75rem;
    }
    .top .text-end span {
        font-size: 1.25rem;
    }
    .top::before {
        left: 16vw;
    }
    /* Main Content */
    main {
        margin-left: 16vw;
    }
    main p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    /* Styling untuk section takeTest */
    .takeTest .card-body p {
        font-size: 1.2rem;
    }
    .takeTest .card-body .btn-primary {
        font-size: 1.3rem;
    }
}
@media (max-width: 992px) {
    /* Header */
    .top::before {
        left: 15vw;
    }

    /* sidebar Menu */
    #sidebar {
        width: 60px;
    }
    #sidebar.expand {
        width: 160px;
    }
    #sidelogo-btn img {
        margin-left: 5px;
        width: 40px;
        height: auto; 
    }
    .sidelogo-txt a {
        font-size: 1.3rem;
    }
    .side-link span {
        padding-left: 20px;
        font-weight: 500;
    }
    .side-navbar li:nth-child(2) .side-link span {
        padding-left: 23px;
    }

    /* Main Content */
    main {
        margin-left: 17vw;
    }
    main p {
        font-size: 1.2rem;
        line-height: 1.3;
        margin-bottom: 1rem;
    }

    /* Styling untuk section takeTest */
    .takeTest .card-body p {
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    /* Header */
    .top {
        margin-left: 1rem;
    }
    .top::before {
        left: 20vw;
    }
    .top .text-end i {
        font-size: 1rem;
    }
    .top .text-end span {
        padding: 0 ;
        font-size: 1rem;
    }
    .text-start h3{
        font-size: 1.2rem;
    }

    /* sidebar Menu */
    #sidebar {
        width: 50px;
        height: 99vh;
    }
    #sidebar.expand {
        width: 140px;
    }
    #sidelogo-btn img {
        margin-left: 3px;
        width: 35px;
    }
    .sidelogo-txt a {
        font-size: 1.1rem;
    }
    .side-link span {
        padding-left: 10px;
    }
    .side-navbar li:nth-child(2) .side-link span {
        padding-left: 13px;
    }

    /* MAIN */
    main {
        margin-left: 20vw;
    }
    main h1 {
        padding-top: 0.5rem;
        font-size: 1.8rem;
    }
    main p {
        font-size: 1rem;
        line-height: 1.3;
    }

    /* Styling untuk section takeTest */
    .takeTest .card {
        max-width: 50vw; 
    }
    .takeTest .card-header h5{
        font-size: 1rem;
    }
    .takeTest .card-body p{
        font-size: 1.5vw;
    }
    .takeTest .card-body .btn-primary {
        font-size: 2vw;
    }
    .takeTest .card-body img {
        width: 70%;
    }
}
@media (max-width: 576px) {
    /* Header */
    .top::before {
        left: 23vw;
    }
    .top .text-start {
        padding-left: 7rem;
    }
    .text-start h3{
        font-size: 1.1rem;
    }

    /* MAIN */
    main {
        margin-left: 21vw;
    }
    main h1 {
        padding-top: 0;
        font-size: 1.5rem;
    }

    /* Styling untuk section takeTest */
    .takeTest .card-header h5{
        font-size: 0.8rem;
    }
}
@media (max-width: 425px) {
    /* Header */
    .top::before {
        left: 10vw;
    }
    .top .text-start {
        padding-left: 2rem;
    }
    .text-start h3{
        margin-bottom: 0;
        font-size: 1rem;
    }

    /* MAIN */
    main {
        margin-left: 12vw;
    }
    main h1 {
        padding-top: 0;
        font-size: 1.1rem;
    }

    /* Styling untuk section takeTest */
    .takeTest .card {
        max-width: 100vw; 
    }
    .takeTest .card-header {
        padding: 0.5rem;
        font-size: 1rem;
    }
    .takeTest .card-body {
        padding: 0.5rem;
    }
    .takeTest .card-body p {
        line-height: 1.2;
        font-size: 0.5rem;
    }
    .takeTest .card-body img {
        max-width: 80%;
    }
    .takeTest .card-body .btn-primary {
        padding: 0.5rem 1.2rem;
        font-size: 0.5rem;
    }
}